.toggle-switch {
    position: relative;
    width: 5rem;
    height: 2.5rem;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    background-color: var(--toggle-dark);
    border-radius: 1.5625rem;
    cursor: pointer;
    border: 2px solid var(--nav-border-color);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1.5625rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: var(--toggle-light);
}

.slider::before {
    content: "";
    position: absolute;
    top: .4375rem;
    left: .4375rem;
    width: 1.4375rem;
    height: 1.4375rem;
    border-radius: 50%;
    -webkit-box-shadow: inset .625rem -0.0625rem 0rem 0rem var(--toggle-light);
    box-shadow: inset .625rem -0.0625rem 0rem 0rem var(--toggle-light);
    background-color: var(--toggle-dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(2.5rem);
    -ms-transform: translateX(2.5rem);
    transform: translateX(2.5rem);
    background-color: var(--toggle-sun);
    -webkit-box-shadow: 0rem 0rem 2.5rem .625rem var(--toggle-sun-shadow-color);
    -moz-box-shadow: 0rem 0rem 2.5rem .625rem var(--toggle-sun-shadow-color);
    box-shadow: 0rem 0rem .5rem .0625rem var(--toggle-sun-shadow-color);
}