.item-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.item-detail {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr 0.1fr 1fr 1fr; 
    gap: 0 0; 
    grid-template-areas:
        'item-detail-img item-detail-title item-detail-title'
        'item-detail-img item-detail-category item-detail-category'
        'item-detail-img item-detail-description item-detail-description'
        'item-detail-img item-detail-price item-detail-cart';
    width: 77.8125rem;
    height: 35.625rem;
    background: var(--primary-color);
    box-shadow: var(--item-box-shadow);
    -webkit-box-shadow: var(--item-box-shadow);
    -moz-box-shadow: var(--item-box-shadow);
    border: 1px solid var(--category-border);
    border-radius: 1.5rem;
}

.item-detail-description {
    grid-area: item-detail-description;
    color: #a1a1a1;
}

.item-detail-img {
    display: flex;
    flex-direction: column;
    grid-area: item-detail-img;
    height: 31.25rem;
    width: 18.75rem;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    border-radius: .75rem;
    margin: 0 1.25rem;
    -webkit-box-shadow: var(--item-box-shadow);
    -moz-box-shadow: var(--item-box-shadow);
    box-shadow: var(--item-box-shadow);
    background-color: white;
}

.item-detail-img-grey {
    display: flex;
    height: 20%;
    filter: grayscale(0.85);
}

.item-detail-img-grey img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.item-detail-img-grey img:nth-child(1) {
    padding: .375rem .1875rem .1875rem .375rem;
    border-top-left-radius: .75rem;
}

.item-detail-img-grey img:nth-child(2) {
    padding: .375rem .375rem .1875rem .1875rem;
    border-top-right-radius: .75rem;
}


.item-detail-principal-img {
    height: 80%;
    padding: .375rem;
    object-fit: cover;
    border-radius: 0 0 .75rem .75rem;
}


.item-detail-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: item-detail-title;
    margin: 0 20 10 20;
    font-size: 3em;
    margin: 10 0;
}


.item-detail-category {
    grid-area: item-detail-category;
    justify-self: left;
    margin-bottom: .625rem;
    padding: .75rem;
    border-radius: .75rem;
    background-color: var(--primary-color);
    color: var(--read-more-color);
    text-transform: capitalize;
    box-shadow: var(--item-category-box-shadow);
}

.item-detail-price {
    grid-area: item-detail-price;
    justify-self: left;
    margin-left: 1.25rem;
    margin-bottom: .625rem;
    align-self: flex-start;
}

.item-detail-price p:nth-child(1) {
    color: var(--light-secundary-color);
}

.item-detail-price p:nth-child(2) {
    font-weight: bold;
    font-size: 2em;
}

.item-detail-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item-detail-cart;
    justify-self: right;
    align-self: flex-start;
    margin-right: 1.25rem;
    font-weight: bolder;
    padding: .5rem;
    border-radius: .75rem;
    height: 3.5rem;
    cursor: pointer;
}

.item-detail-cart button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    border-radius: .375rem;
    background-color: #28dcc891;
    margin: 0 .375rem 0 0;
    transition: all 0.2s;
}
.item-detail-cart button:not(:first-child) {
    margin: 0 0 0 .375rem;
}
.item-detail-cart p {
    padding: 0 .875rem;
    border: 1px solid #a1a1a150;
    border-radius: .375rem;
    height: 4rem;
    line-height: 3.75rem;
    font-size: 1.8em;
}
.item-detail-cart button:hover {
    animation: jello-horizontal 0.9s both;
}
.item-detail-cart button:hover {
    background-color: #28dcc7;
}
.item-detail-cart-redbutton {
    background-color: #dc282891 !important;
    cursor: not-allowed !important;
}
.item-detail-cart-redbutton:hover {
    background-color: #dc2828 !important;
}

.back {
    align-self: flex-end;
    padding-right: 3.125rem;
}
.back a{
    font-size: 1.5em;
    color: var(--item-detail-back);
    text-decoration: none;
    background-color: #28dcc891;
    border-radius: 2rem;
    padding: .625rem 1.25rem;
    transition: all 0.2s;
}
.back:hover a{
    color: #1a1a1a;
    background-color: #28dcc8;
}