.itemListContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        'content content content content content categories'
        'content content content content content categories'
        'content content content content content categories';
}

.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categories {
    grid-area: categories;
    margin-top: 20px;
    margin-right: 20px;
    width: 275px;
}
.categories ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    list-style-type: none;
    background-color: #202020;
    
    border: 1px solid #a1a1a150;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    padding-bottom: 10px;

    -webkit-box-shadow: 0px 10px 17px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 17px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 17px 7px rgba(0, 0, 0, 0.75);
}
.categories ul li {
    height: 48px;
    width: 100%;
    background: rgb(45,45,45);
    background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgba(255,255,255,0) 75%); 
}
.categories ul li:nth-child(1) {
    display: flex;
    align-items: center;
    background: none;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1.5em;
}

.categories ul li:nth-child(1) svg {
    margin: 0 10px;
    font-size: 1.25em;
    color: rgba(40, 220, 200, 0.57);
}
.categories ul li a {
    display: flex;
    align-items: center;
    color: #a1a1a1;
    text-decoration: none;
    font-size: 1.3em;
    padding-left: 20px;
    height: 100%;
    width: 100%;
    text-transform: capitalize;
    
}

.active {
    border-left: 3px solid rgba(40, 220, 200, 0.57);
}

.categories ul li:hover a, .categories ul li a.active {
    color: #fffafa;
    text-shadow: 0px 0px 10px rgba(40, 220, 200, 0.57);
}