.itemListContainer {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr) 1.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        'content content content content content categories'
}

.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10%;
}

.categories {
    position: fixed;
    right: 0;
    top: 10%;
    grid-area: categories;
    margin-top: 20px;
    margin-right: 20px;
    width: 275px;
    animation: bounce-in-right 1200ms 600ms both;
}

.categories ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--category-background);
    border: 1px solid var(--category-border);
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    padding-bottom: 10px;

    -webkit-box-shadow: 0px 10px 17px 7px var(--category-box-shadow);
    -moz-box-shadow: 0px 10px 17px 7px var(--category-box-shadow);
    box-shadow: 0px 10px 17px 7px var(--category-box-shadow);
}

.categories ul li {
    height: 48px;
    width: 100%;
    padding-left: 20px;
    background: var(--category-li-background);
    background: linear-gradient(90deg, var(--category-li-background) 0%, #ffffff00 75%);
}

.categories ul li:nth-child(1) {
    display: flex;
    align-items: center;
    background: none;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1.5em;
}

.categories ul li:nth-child(1) svg {
    margin: 0 10px;
    font-size: 1.25em;
    color: #28dcc891;
}

.categories ul li a {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--category-color);
    text-decoration: none;
    font-size: 1.3em;
    /* padding-left: 20px; */
    height: 100%;
    text-transform: capitalize;
    transition: color 0.2s ease-in;
}
.active::before {
    position: absolute;
    content: "";
    z-index: -1;
    background-color: #28dcc891;
    width: 3px;
    margin-left: -20px;
    bottom: 0;
    height: 100%;
    animation: expandHeight 0.2s ease-in forwards;
}

@keyframes expandHeight {
    from {
        top: 100%;
        height: 0;
    }
    to {
        top: 0;
        height: 100%;
    }
}

.categories ul li a {
    position: relative;
    z-index: 1;
}

.categories ul li a::after {
    position: absolute;
    content: "";
    z-index: -1;
    background-color: #28dcc891;
    width: 0;
    bottom: 0;
    height: 2px;
    transition: width 0.2s ease-in;
    background: linear-gradient(90deg, #28dcc891 0%, #ffffff00 75%);
}

.categories ul li:hover a:not(.active)::after {
    width: 110%;
}

.categories ul li:hover a,
.categories ul li a.active {
    color: var(--category-special);
    text-shadow: 0px 0px 10px rgba(40, 220, 200, 0.57);
}

@keyframes bounce-in-right {
    0% {
        transform: translateX(600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateX(68px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateX(32px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateX(8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }
}