.item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.1fr);
    grid-template-areas:
        'item-img item-img'
        'item-title item-title'
        'item-category item-color'
        'item-price item-cart';
    width: 21.875rem;
    margin: 1.25rem 1.25rem;
    background: var(--primary-color);
    box-shadow: var(--item-box-shadow);
    border-radius: .75rem;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.item-img {
    grid-area: item-img;
    height: 21.875rem;
    width: 18.75rem;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    border-radius: .75rem;
    margin: 1.5625rem 0 1.25rem 0;
    transition: transform .2s;
}

.item-img:hover {
    transform: scale(105%);
}

.item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-title {
    grid-area: item-title;
    height: 6.25rem;
    margin: 0 1.25rem .625rem 1.25rem;
}

.item-title h3 {
    margin: .625rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--light-secondary-color);
}


.item-title a {
    text-decoration: none;
    color: var(--read-more-color);
    text-transform: capitalize;
}

.item-title p {
    color: var(--item-detail-description);
}

.item-category {
    grid-area: item-category;
    justify-self: left;
    margin: 0 0 .625rem .9375rem;
    padding: .75rem;
    border-radius: .75rem;
    text-transform: capitalize;
    background-color: var(--item-detail-category);
    color: var(--read-more-color);
    box-shadow: var(--item-category-box-shadow);
}

.item-color {
    grid-area: item-color;
    display: flex;
    justify-self: right;
    gap: 1rem;
    padding: .75rem;
    margin-right: .875rem;
}

.item-color-hex {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.item-price {
    grid-area: item-price;
    justify-self: left;
    margin: 0 0 .625rem 1.25rem;
}

.item-price p:nth-child(1) {
    color: var(--light-secondary-color);
}

.item-price p:nth-child(2) {
    font-weight: bold;
}

.item-cart {
    grid-area: item-cart;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: right;
    font-weight: bolder;
    padding: .375rem;
    margin: 0 1.25rem .625rem 0;
    border-radius: .75rem;
    transition: background-color .2s;
}

.item-cart button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin: 0 .375rem 0 0;
    border: none;
    border-radius: .375rem;
    cursor: pointer;
    transition: all 0.2s;
}

.item-cart button:hover {
    animation: jello-horizontal 0.9s both;
}

.item-cart button:not(:first-child) {
    margin: 0 0 0 .375rem;
}

.item-cart p {
    height: 2rem;
    line-height: 1.875rem;
    padding: 0 .875rem;
    border: 1px solid #a1a1a150;
    border-radius: .375rem;
}


.item-cart-redbutton {
    background-color: #dc282891;
    cursor: not-allowed;
}
.item-cart-greenbutton {
    background-color: #28dcc891;
}

.item-cart-greenbutton:hover {
    background-color: #28dcc7;
}

.item-cart-redbutton:hover {
    background-color: #dc2828;
}

.item-cart-nostock {
    background-color: #dc2828;
    height: 2rem;
    text-align: center;
    line-height: 2em;
    padding: 0 1rem;
    border-radius: .375rem;
    cursor: not-allowed;
    transition: all 0.2s;
}

.item-cart-nostock:hover {
    background-color: #dc282891;
}

.loader-container {
    min-height: 100vh;
}

.loader, .loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.2s infinite ease-in-out;
}

.loader {
    position: absolute;
    top: 45%;
    left: 45%;
    color: var(--loader-color);
    font-size: .5em;
    text-indent: -9999em;
    transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-100vw);
        opacity: 0;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}