.item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.1fr);
    grid-template-areas:
        'item-img item-img'
        'item-title item-title'
        'item-category item-color'
        'item-price item-cart';
    width: 350px;
    margin: 20px 20px;
    background: var(--primary-color);
    box-shadow: var(--item-box-shadow);
    border-radius: 12px;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.item-img {
    grid-area: item-img;
    height: 350px;
    width: 300px;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    border-radius: 12px;
    margin: 25px 0 20px 0;
    transition: transform .2s;
}

.item-img:hover {
    transform: scale(105%);
}

.item-img img {
    height: 100%;
    width: 100%;
    background-color: white;
    object-fit: scale-down;
}

.item-title {
    grid-area: item-title;
    height: 100px;
    margin: 0 20px 10px 20px;
}

.item-title h3 {
    margin: 10px 0;
    font-size: 1.2em;
    text-transform: capitalize;
    color: var(--light-secondary-color);
}


.item-title a {
    text-decoration: none;
    color: var(--read-more-color);
    text-transform: capitalize;
}

.item-title p {
    color: #a1a1a1;
}

.item-category {
    grid-area: item-category;
    justify-self: left;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: var(--read-more-color);
    text-transform: capitalize;
    box-shadow: var(--item-category-box-shadow);
}

.item-color {
    grid-area: item-color;
}

.item-price {
    grid-area: item-price;
    justify-self: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

.item-price p:nth-child(1) {
    color: var(--light-secondary-color);
}

.item-price p:nth-child(2) {
    font-weight: bold;
}

.item-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item-cart;
    justify-self: right;
    padding: 6px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: bolder;
    border-radius: 12px;
    transition: background-color .2s;
}

.item-cart button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #28dcc891;
    margin: 0 6px 0 0;
    transition: all 0.2s;
}

.item-cart button:hover {
    animation: jello-horizontal 0.9s both;
}

.item-cart button:not(:first-child) {
    margin: 0 0 0 6px;
}

.item-cart p {
    padding: 0 14px;
    border: 1px solid #a1a1a150;
    border-radius: 6px;
    height: 32px;
    line-height: 30px;
}

.item-cart button:hover {
    background-color: #28dcc7;
}

.item-cart-redbutton {
    background-color: #dc282891 !important;
    cursor: not-allowed !important;
}

.item-cart-redbutton:hover {
    background-color: #dc2828 !important;
}
.loader-container {
    height: 100vh;
    width: 100vw;
}
.loader, .loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.2s infinite ease-in-out;
}

.loader {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: var(--loader-color);
    font-size: .5em;
    text-indent: -9999em;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}

@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}
