.navBarContainer {
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-background);
    width: 100%;
    padding: 0 20px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navBarLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navBarLogoText {
    text-decoration: none;
    color: var(--light-secundary-color);
    font-size: 1.6em;
    padding-left: 20px;
}
.navBarContainer img {
    height: 80px;
    border-radius: 35%;
    padding: 5px;
}
.cartIcon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--light-secundary-color);
    text-decoration: none;
    font-size: 1.6em;
    transition: transform 0.2s ease;
}
.cartIcon svg {
    border: 2px solid var(--nav-border-color);
    margin: 5px;
    border-radius: 8px;
    padding: 12px;
    height: 48px;
    width: 48px;
}
.cartNumber {
    font-size: 0.8em;
    transform: translate(16px, -20px);
    background-color: var(--light-secundary-color);
    color: var(--secundary-color);
    font-weight: bold;
    line-height: 25px;
    padding: 0 10px;
    border-radius: 50%;
}

.navBarControls {
    display: flex;
    align-items: center;
}