.navBarContainer {
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-background);
    width: 100%;
    padding: 0 1.25rem;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navBarLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navBarLogoText {
    text-decoration: none;
    color: var(--light-secundary-color);
    font-size: 1.6em;
    padding-left: 1.25rem;
}
.navBarContainer img {
    height: 5rem;
    border-radius: 35%;
    padding: .3125rem;
}
.cartIcon {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--light-secundary-color);
    text-decoration: none;
    font-size: 1.6em;
    transition: transform 0.2s ease;
}
.cartIcon svg {
    border: 2px solid var(--nav-border-color);
    margin: .3125rem;
    border-radius: .5rem;
    padding: .75rem;
    height: 3rem;
    width: 3rem;
}
.cartNumber {
    font-size: 0.8em;
    transform: translate(1rem, -1.25rem);
    background-color: var(--light-secundary-color);
    color: var(--secundary-color);
    font-weight: bold;
    line-height: 1.5625rem;
    padding: 0 .625rem;
    border-radius: 50%;
}

.navBarControls {
    display: flex;
    align-items: center;
}