:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --toastify-color-progress-warning: #28dcc8;
  --toastify-color-progress-error: #dc2828;
  --toastify-icon-color-warning: #28dcc8;
  --toastify-icon-color-error: #dc2828;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, div, h1, h2, h3 {
  cursor: default;
}